<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.serverjwt.mapper.SystemMapper">

    <select id="selectOrgTree" resultType="com.thc.serverjwt.entity.SysOrg">
        SELECT id, org_pid as orgPid ,org_pids as orgPids ,is_leaf as leaf,
               org_name as orgName ,address ,phone, email, sort, level, status
        FROM sys_org o
        # trim prefix表示trim标签内容前面加where，prefixOverrides表示删除第一个AND或OR，suffix表示最后加上 suffixOverrides表示删除最后一个AND或OR
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (org_pids like CONCAT('%[',#{rootOrgId},']%') OR id = #{rootOrgId})
            <if test="orgNameLike !=null and orgNameLike != '' " >
                AND org_name like CONCAT('%',#{orgNameLike},'%')
            </if>
            <if test="orgStatus !=null " >
                AND status = #{orgStatus}
            </if>
        </trim>
        ORDER BY level, sort
    </select>

    <select id="selectMenuTree" resultType="com.thc.serverjwt.entity.SysMenu">
        SELECT id, menu_pid as menuPid , menu_pids as menuPids ,is_leaf as leaf,
        menu_name as menuName , url , icon, sort, level, status
        FROM sys_menu m
        # trim prefix表示trim标签内容前面加where，prefixOverrides表示删除第一个AND或OR，suffix表示最后加上 suffixOverrides表示删除最后一个AND或OR
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (menu_pids like CONCAT('%[',#{rootMenuId},']%') OR id = #{rootMenuId})
            <if test="menuNameLike !=null and menuNameLike != '' " >
                AND org_name like CONCAT('%',#{menuNameLike},'%')
            </if>
            <if test="menuStatus !=null " >
                AND status = #{menuStatus}
            </if>
        </trim>
        ORDER BY level, sort
    </select>

    <select id="selectApiTree" resultType="com.thc.serverjwt.entity.SysApi">
        SELECT id, api_pid as apiPid, api_pids as apiPids, is_leaf as leaf,
               api_name as apiName, url, sort, level
        FROM sys_api a
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (api_pids like CONCAT('%[',#{rootApiId},']%') OR id = #{rootApiId})
            <if test="apiNameLike !=null and apiNameLike != '' " >
                AND api_name like CONCAT('%',#{apiNameLike},'%')
            </if>
            <if test="apiStatus !=null " >
                AND status = #{apiStatus}
            </if>
        </trim>
        ORDER BY level, sort
    </select>

    <select id="selectApiExpandedKeys" resultType="java.lang.Integer">
        select id
        from sys_api a
        where a.level = 2
    </select>

    <select id="selectMenuExpandedKeys" resultType="java.lang.Integer">
        select id
        from sys_menu m
        where m.level = 2
    </select>

    <select id="selectApiCheckedKeys" resultType="java.lang.Integer">
        select api_id as apiId
        from sys_role_api ra
        where ra.role_id = #{roleId}
    </select>

    <select id="selectMenuCheckedKeys" resultType="java.lang.Integer">
        select menu_id as menuId
        from sys_role_menu rm
        where rm.role_id = #{roleId}
    </select>

    <select id="insertRoleMenuIds">
        insert into sys_role_menu (role_id, menu_id)
        values
        <foreach collection="checkedIds" item="item" separator=",">
            (#{roleId}, #{item})
        </foreach>
    </select>

    <select id="insertRoleApiIds">
        insert into sys_role_api (role_id, api_id)
        values
        <foreach collection="checkedIds" item="item" separator=",">
            (#{roleId}, #{item})
        </foreach>
    </select>

</mapper>
